@{
}

<h1>Add Cheese</h1>

<form method="post">
    <label>Cheese name: <input name="name" type="text"/> </label>
    <label>Cheese description: <input name="description" type="text"/> </label>
    <input type="submit" value="Add Cheese" />
</form>